%div.woodchuck-show
  %div.container.container-padding
    %div.row
      %div.col-sm-9
        %div.panel.panel-default
          %div.panel-heading
            %h3= "<#{@log.source}> #{@log.path}"
          %div.panel-body#summary
            = render 'woodchucks/log_container'
      %div.col-sm-3
        = render 'woodchucks/log_list'