%table.table.table-hover#log-display
  %thead
    %tr
      %th.col-md-1
        Timestamp
      %th.col-md-1
        Path
      - unless(defined?(disable_source) && disable_source)
        %th.col-md-1
          Source
      %th.col-md-7
        Entry
      %th.col-md-1
        Meta
  %tbody
    - log_entries.each do |date, entries|
      %tr
        %th{:colspan => 5}
          %b= date

      - entries.each do |entry|
        %tr
          %td= Time.at(entry.entry_time).strftime('%H:%M:%S')
          %td= entry.log.path
          - unless(defined?(disable_source) && disable_source)
            %td= entry.log.source
          %td= entry.entry
          %td
            - unless entry.tags.empty?
              :ruby
                tags = entry.tags.map(&:name).sort.map do |tag_name|
                  link_to(tag_name, 'http://example.com')
                end.join(', ').html_safe
              %span.glyphicon.glyphicon-tags.popper{'data-container' => 'body', 'data-placement' => 'right', 'data-content' => tags, 'data-title' => 'Tags'}
      %tr
        %td{:colspan => 5}
          %center= will_paginate(@paged_entries)
